
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
  <mat-grid-list cols="3" rowHeight="5vh">
    <mat-grid-tile [colspan]=3>
      <app-header></app-header>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="15" [colspan]=1>

    <div class="coloured-bg">
      <div class="contact-info">
    
      </div>
    </div>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="15" [colspan]=2>
      <mat-card style="width: 90%; margin: 0 auto">
        <mat-card-header>
          <mat-card-title>RACHEL WONG</mat-card-title>
          <mat-card-subtitle>Front End/Full Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            I'm a passionate front end focused full stack developer with consulting experience, building web applications for many clients in various programming languages. 
          </p>
          <p>
            I predominantly focus on React, JavaScript, Node, AWS, MongoDB and serverless. I love writing clean code and approach learning with an open and curious mind.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <app-competencies></app-competencies>
  <app-projects></app-projects>
  <app-footer></app-footer>


<router-outlet></router-outlet>