
.about-wrap {
  margin-top: 10%;
  // margin-left: auto;
  // margin-right: 4em;
}

.about {
  // max-width: 30em;
  box-shadow: 0 0 black;
  line-height: 2.3em;
}

a {
  font-weight: 200;
}

.mat-card-header-text {
  margin: 0 !important;
}

.front-pg-wrapper {
  height: 100vh;
  background-image: 
    linear-gradient(#f6e6eb, #f6e6eb),
    linear-gradient(#ffffff,#ffffff);
  background-size: calc(1 * (100% / 3)) 100%;
  background-repeat:no-repeat;
}

@media (max-width: 500px) {
  .front-pg-wrapper {
    background-size: 100%;
  }
}

.mat-card-header .mat-card-title {
  margin-bottom: 12px;
  font-size: xx-large;
  letter-spacing: 0.5em;
}

.contact-wrapper {
  display: flex; 
  flex-direction: column; 
  flex: 1; 
  padding-left: 2em; 
  padding-bottom: 1em;
}
.contact {
  margin-top: auto;
}

.about-img {
  filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.25));
  width: 100%;
  max-width: 27em;
}