<div class="h1-wrapper">
  <h1 class="heading">EXPERIENCE / EDUCATION </h1>
</div>
<hr style="width: 90%"/>
<mat-card style="width: 90%; margin: 0 auto; box-shadow: 0 0 black;">
  <mat-card-header>
    <mat-card-title>Software Developer</mat-card-title>
    <mat-card-subtitle>Igeno Consulting &nbsp; | &nbsp; FEB 2019 - NOW</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="white-space: pre-line;">
      <li>Work on numerous projects, developing modern web applications using React, JavaScript, Bootstrap, HTML, CSS, AJAX, React Router</li>
      <li>Implement AWS serverless lambda functions with MongoDB and Node
      </li>
      <li>Test and deploy applications to test and production environments</li>
      <li>Frequent experience with AWS S3, CloudWatch, SES and CloudFront</li>
      <li>Inherit existing code on projects and improve coding style and performance</li>
      <li>Build new features for applications and increase usability</li>
      <li>Experience with writing MongoDB queries</li>
      <li>Debug issues and fix in a time-conscious manner</li>
      <li>Frequently communicating with clients on their products</li>
    </p>
  </mat-card-content>
</mat-card>
<hr style="width: 90%"/>
<mat-card style="width: 90%; margin: 0 auto; box-shadow: 0 0 black;">
  <mat-card-header>
    <mat-card-title>Software Systems Developer Program </mat-card-title>
    <mat-card-subtitle>BCIT &nbsp; | &nbsp; SEPT 2020 - MAY 2021</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="white-space: pre-line;">
      The Software Systems Developer 8 month program features an accelerated, project-based learning environment to prepare you for a career as a full-stack web and/or mobile developer.
      <br/>
      The course covers: Angular, React, Node, JavaScript, SQL, NoSQL, .NET Core, AWS, Azure, iOS / Android development
    </p>
  </mat-card-content>
</mat-card>
<hr style="width: 90%"/>
<mat-card style="width: 90%; margin: 0 auto; box-shadow: 0 0 black;">
  <mat-card-header>
    <mat-card-title>Web Development Bootcamp </mat-card-title>
    <mat-card-subtitle>LIGHTHOUSE LABS &nbsp; | &nbsp; OCT 2018 - JAN 2019</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="white-space: pre-line;">
      A 12 week full time immersive web development course
      The course emulates a real life developer's job environment, where we have learnt to effectively work in various groups for projects, and do some paired programming
      Exposure to relevant technologies, immediately followed by building applications to reinforce that knowledge.
    </p>
  </mat-card-content>
</mat-card>
<hr style="width: 90%"/>